<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>

  <h1>GameDealWatch</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span routerLinkActive="active-link">Home</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/games">
      <mat-icon>public</mat-icon>
      <span routerLinkActive="active-link">Browse Games</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/createGameList">
      <mat-icon>create</mat-icon>
      <span routerLinkActive="active-link">Create Game List</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/updateGameList">
      <mat-icon>playlist_add</mat-icon>
      <span routerLinkActive="active-link">Update Game List</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/logout">
      <mat-icon>exit_to_app</mat-icon>
      <span routerLinkActive="active-link">Logout</span>
    </button>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z10">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

